[Unit]
Description=GSR

[Container]
Image=gsr.build
ContainerName=gsr
PublishPort=25565:25565/tcp

Environment=EULA=TRUE
Environment=VERSION=26.1.2
Environment=TYPE=FABRIC
Environment=PACKWIZ_URL=https://raw.githubusercontent.com/itsflipper/FlippersPackwizMods/refs/heads/main/pack.toml

Environment=ENABLE_WHITELIST=TRUE
Environment=OVERRIDE_WHITELIST=FALSE
Environment=LOG_LEVEL=info
Environment=MEMORY=6G
Environment=ENABLE_RCON=true

Volume=gayshitdata:/data

[Service]
Restart=always

[Install]
WantedBy=default.target
