[Unit]
Description=GSR

[Container]
Image=gsr.build
ContainerName=gsr
PublishPort=25565:25565/tcp

Environment=EULA=TRUE
Environment=VERSION=26.3
Environment=LEVEL=world-26.3
Environment=TYPE=FABRIC
Environment=PACKWIZ_URL=https://raw.githubusercontent.com/itsflipper/FlippersPackwizMods/refs/heads/main/environments/vanilla/pack/pack.toml

Environment=ONLINE_MODE=FALSE
Environment=ENFORCE_SECURE_PROFILE=FALSE
Environment=OVERRIDE_SERVER_PROPERTIES=FALSE
Environment=ENABLE_WHITELIST=TRUE
Environment=ENFORCE_WHITELIST=TRUE
Environment=WHITELIST_FILE=/tmp/gsr-whitelist.json
Environment=EXISTING_WHITELIST_FILE=SYNCHRONIZE
Environment=LOG_LEVEL=info
Environment=MEMORY=6G
Environment=ENABLE_RCON=true

Volume=gayshitdata:/data
Volume=%h/.config/gsr/shared/whitelist.json:/tmp/gsr-whitelist.json:ro
Volume=%h/.config/gsr/icons/vanilla.png:/data/server-icon.png:ro

[Service]
Restart=always
TimeoutStopSec=900
ExecStartPre=-%h/.local/bin/gsr whitelist sync-start vanilla
ExecStop=-%h/.local/bin/gsr backup prepare vanilla
ExecStopPost=-%h/.local/bin/gsr backup finalize vanilla

[Install]
WantedBy=default.target
